{% extends 'enroll/base.html' %}
{% block content %}

<div class="row">
   <div class="col-sm-4">
    <h4 class="text-center alert alert-info">Input Your Data</h4>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
      
   </div>

   <div class="col-sm-7 offset-1">
    <h4 class="text-center alert alert-info">Show saved data</h4>
    {% if stu %}
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Pair</th>
              <th scope="col">Session</th>
              <th scope="col">Pips</th>
              <th scope="col">Date</th>
              <th scope="col">Entry_time</th>
              <th scope="col">Comment</th>
              <th scope="col">Before_chart</th>
              <th scope="col">After_chart</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for st in stu %}
            <tr>
              <th scope="row">{{st.id}}</th>
              <td>{{st.pair}}</td>
              <td>{{st.session}}</td>
              <td>{{st.pips}}</td>
              <td>{{st.date}}</td>
              <td>{{st.entry_time}}</td>
              <td>{{st.comment}}</td>
              <td>{{st.before_chart}}</td>
              <td>{{st.after_chart}}</td>
              <td>
                <a href="{% url 'updatedata' st.id %}" class="btn btn-warning btn-sm">Edit</a>
                <form action="{% url 'deletedata' st.id %}" method="post" class="d-inline">{% csrf_token %}

                    <input type="submit" class="btn btn-danger" value="delete">
                </form>

              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    {% else %}
    <h4 class="text-center alert alert-warning">No record</h4>
    {% endif %}
   </div>
</div>
{% endblock content %}